@page
@model CrudProducts.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4GSLZQfR/SFIIJLAcDCLwM/OEFiVFeD"
          crossorigin="anonymous">
</head>
<div class="container mt-4">
    <div class="card mx-auto" style="max-width: 400px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-header">
            <h1 class="card-title">Create</h1>
        </div>
        <div class="card-body">
            <h4 class="card-subtitle mb-4">Category</h4>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category.Name" class="control-label"></label>
                    <input asp-for="Category.Name" class="form-control" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }