@page
@model CrudProducts.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4GSLZQfR/SFIIJLAcDCLwM/OEFiVFeD"
          crossorigin="anonymous">
</head>

<div class="container mt-4">
    <div class="card" style="max-width: 600px; margin: 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-header">
            <h1 class="card-title">Details</h1>
        </div>
        <div class="card-body">
            <h4 class="card-subtitle mb-4">Category</h4>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-page="./Edit" asp-route-id="@Model.Category.Id" class="btn btn-warning">Edit</a> |
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
