@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://www.truthmedia.gr/sites/default/files/styles/blog_704_328/public/online-shopping-ecommerce-ss-1920_1.png?itok=zZqSf5Gk" alt="Online Shop" class="img-fluid rounded small-image" />
    <h1 class="display-4 mt-3">Welcome</h1>
    <a href="/Products/Index" class="btn btn-primary btn-lg mt-3">Accéder à nos produits</a>
</div>
